.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #e3bc92;
  color: var(--color-dark);
  padding: 1em;
}
.navbar .menu ul {
  display: flex;
  gap: 2em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar a.active {
  background-color: #ac6c37;
  border-radius: 5px;
  padding: 15px;
}
